<div class="row">
  <div class="d-flex flex-row">
    <div class="col-7">
      <app-picture></app-picture>
    </div>
    <div class="col-5">
      <app-description></app-description>
    </div>
  </div>
  <div class="row">
    <p class="text-center w-100 text-uppercase">
      <span class="border-bottom px-5 mr-5"></span>
      {{'Body.polecamyRowniez'| translate}}
      <span class="border-bottom px-5 ml-5"></span>
    </p>
    <div class="col-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
