<div class="d-flex justify-content-around footer-background-color py-4">
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">Przydatne informacje</p>
    <p class="mb-0">Regulamin Sklepu</p>
    <p class="mb-0">Regulamin Aukcji biletów lotniczych</p>
    <p class="mb-0">Regulamin Aukcji Bagażu</p>
    <p>Regulamin Aukcji</p>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">Dla kupującego</p>
    <p class="mb-0">Pomoc</p>
    <p class="mb-0">Sposoby dostawy</p>
    <p class="mb-0">Zwroty i gwarancje</p>
    <p class="mb-0">Oferta Miles&More</p>
    <p>Mapa serwisu</p>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">Kontakt</p>
    <div class="d-flex">
      <i class="fa fa-phone fa-2x pt-2 mr-4"></i>
      <div>
        <p class="mb-0 font-weight-bold">Telefon</p>
        <p>01 012-234-34</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fa fa-envelope-o fa-2x mr-3"></i>
      <div>
        <p class="font-weight-bold"><u>Formularz kontaktowy</u></p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">Metody płatności</p>
    <div>
      <img src="assets/image/mastercard.png" width="90" height="50">
      <img src="assets/image/visa.png" width="90" height="50">
      <img src="assets/image/paypal.png" width="90" height="50">
    </div>
    <div>
      <img src="assets/image/maestro.png" width="90" height="50">
      <img src="assets/image/visaelectron.png" width="90" height="50">
      <img src="assets/image/americanexpress.png" width="90" height="50">
    </div>
  </div>
</div>
