<div class="d-flex justify-content-around footer-background-color py-4">
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">{{'Footer.przydatneInformacje' |translate}}</p>
    <p class="mb-0">{{'SubFooter.regulaminSklepu' |translate}}</p>
    <p class="mb-0">{{'SubFooter.regulaminAukcjiBiletowLotniczych' |translate}}</p>
    <p class="mb-0">{{'SubFooter.regulaminAukcjiBagazu' |translate}}</p>
    <p>{{'SubFooter.regulaminAukcji' |translate}}</p>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">{{'Footer.dlaKupujacego' |translate}}</p>
    <p class="mb-0">{{'SubFooter.pomoc' |translate}}</p>
    <p class="mb-0">{{'SubFooter.sposobyDostawy' |translate}}</p>
    <p class="mb-0">{{'SubFooter.zwrotyGwarancje' |translate}}</p>
    <p class="mb-0">{{'SubFooter.ofertaMiles' |translate}}</p>
    <p>{{'SubFooter.mapaSerwisu' |translate}}</p>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">{{'Footer.kontakt' |translate}}</p>
    <div class="d-flex">
      <i class="fa fa-phone fa-2x pt-2 mr-4"></i>
      <div>
        <p class="mb-0 font-weight-bold">{{'SubFooter.telefon' |translate}}</p>
        <p>01 012-234-34</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fa fa-envelope-o fa-2x mr-3"></i>
      <div>
        <p class="font-weight-bold"><u>{{'SubFooter.formularzKontaktowy' |translate}}</u></p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-uppercase mb-4 font-weight-bold">{{'Footer.metodyPlatnosci' |translate}}</p>
    <div>
      <img src="assets/image/mastercard.png" width="90" height="50">
      <img src="assets/image/visa.png" width="90" height="50">
      <img src="assets/image/paypal.png" width="90" height="50">
    </div>
    <div>
      <img src="assets/image/maestro.png" width="90" height="50">
      <img src="assets/image/visaelectron.png" width="90" height="50">
      <img src="assets/image/americanexpress.png" width="90" height="50">
    </div>
  </div>
</div>
