<div class="col-12">
  <div class="row pt-4 pb-5 ml-5">
    <div class="col-5 text-uppercase font-weight-bold pl-5">
      <div class="row justify-content-between">
        <p>Strona główna</p>
        <p>Aukcje</p>
        <p>Nowości</p>
        <p>Promocje</p>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-5 text-uppercase font-weight-bold">
      <span class="mr-4">Odwiedź nas na: </span>
      <img (click)="onSocialMedia('https://www.facebook.com/PllLOT/')" class="mx-2" src="assets/socialmedia/facebook.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.google.pl/flights/?gl=pl')" class="mx-2" src="assets/socialmedia/google-plus.png" width="30" height="30">
      <img (click)="onSocialMedia('https://pl.pinterest.com/lotairlines/')" class="mx-2" src="assets/socialmedia/pinterest.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.youtube.com/user/LOTPolishAirlinesTV')" class="mx-2" src="assets/socialmedia/youtube.png" width="30" height="30">
      <img (click)="onSocialMedia('https://pl.linkedin.com/company/lot-polish-airlines')" class="mx-2" src="assets/socialmedia/linkedin.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.instagram.com/flylot/?hl=pl')" class="mx-2" src="assets/socialmedia/instagram.png" width="30" height="30">
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-8 pl-5">
      <div class="row justify-content-between">
        <div>
        <p class="mb-0"><i class="fa fa-copyright mr-3">2015 Polskie Linie Lotnicze LOT S.A.</i></p>
        <p>ul. 17 Stycznia 39, 00-906 Warszawa</p>
        </div>
      </div>
    </div>
    <div class="col-4 pl-5">
      <img src="assets/image/star.jpg" width="300" height="100">
    </div>
  </div>
</div>




