
@font-face {
  font-family: lato !important;
  src: url(assets/font/Lato-Regular.ttf) format("opentype") !important;
}


  $sx-font-size: 10px;
  $sm-font-size: 12px;
  $md-font-size: 14px;
  $lg-font-size: 16px;
  $xl-font-size: 18px;
  $xxl-font-size: 20px;

$text-color: #1a3172;
$grey-color: #f0f0f0;

p, label {
  color: $text-color;
}

.icon-color {
  color: $text-color;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: white !important;
  border-bottom: 2px solid #1a3172 !important;
}

a.nav-link {
  color: #1a3172;
}

.btn-like-it {
  border-color: $text-color;
  background-color: $text-color;
  color: white;
}


